<style>
    .content {
        padding-top: 15vh;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .containerContact {
        height:36.4vh;
        margin: 10%;
    }
</style>

<div class="containerContact">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <form>
            <div class="ligne-formulaire">
                <div class="row">
                    <div class="col-md-6">
                        <div class="groupe-formulaire">
                            <label for="inputPrenom">Prénom</label>
                            <input type="text" class="form-control" id="inputPrenom" placeholder="Prénom">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="groupe-formulaire">
                            <label for="inputNom">Nom</label>
                            <input type="text" class="form-control" id="inputNom" placeholder="Nom">
                        </div>
                    </div>
                </div>
            </div>
            <div class="groupe-formulaire">
                <label for="inputCourriel">Courriel</label>
                <input type="email" class="form-control" id="inputCourriel" placeholder="Courriel">
            </div>
            <div class="groupe-formulaire">
                <label for="inputTelephone">Téléphone</label>
                <input type="tel" class="form-control" id="inputTelephone" placeholder="Téléphone">
            </div>
            <div class="groupe-formulaire">
                <label for="inputMotDePasse">Mot de passe</label>
                <input type="password" class="form-control" id="inputMotDePasse" placeholder="Mot de passe">
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </div>
        </form>
    </div>
</div>