<!--Ce page sera activer quand l'utilisateur choisi une voiture et décide d'effectuer le paiement-->


<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .content {
        padding-top: 15vh;
        align-items: center;
        justify-content: center;
    }

    .containerPaiement {
        width: 60%;
    }

    .card-container {
        width: 75vh;
        float: right;
        margin-right: 0px;
    }

    .btn-group {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .card-container {
        width: 40%;
        float: right;
    }
</style>

<body>
    <div class="content">
        <div class="d-flex align-items-center justify-content-center mt-5">
            <div class="containerPaiement" id="methodePaiement">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <form>
                        <div class="groupe-formulaire">
                            <h1>1. Addresse de livraison</h1>
                            <label for="Addresse">Addresse de maison</label>
                            <input type="text" class="form-control" id="Addresse" placeholder="Addresse">
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="groupe-formulaire">
                                    <label for="ville">Ville</label>
                                    <input type="text" class="form-control" id="ville" placeholder="ville">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="groupe-formulaire">
                                    <label for="zip">Code Postal</label>
                                    <input type="text" class="form-control" id="zip" placeholder="Code Postal">
                                </div>
                            </div>

                            <hr class="my-4">
                        </div>

                        <div class="groupe-formulaire mt-2">
                            <h1>2. Choisissez un mode de paiement</h1>
                        </div>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="creditCard" autocomplete="off" checked> Carte de
                                crédit
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="paypal" autocomplete="off"> PayPal
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="googlePay" autocomplete="off"> GooglePay
                            </label>
                        </div>

                        <hr class="my-4">

                        <div class="groupe-formulaire mt-3">
                            <h1>3. Payer ici</h1>
                        </div>
                        <div class="groupe-formulaire">
                            <label for="numeroCarte">Numéro de votre carte</label>
                            <input type="number" class="form-control" id="numeroCarte"
                                placeholder="Numéro de votre carte">
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="groupe-formulaire">
                                    <label for="carteCvc">Carte CVC</label>
                                    <input type="number" class="form-control" id="carteCvc" placeholder="Numéro CVC">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="groupe-formulaire">
                                    <label for="annee">Année</label>
                                    <input type="number" class="form-control" id="annee" placeholder="Année">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="groupe-formulaire">
                                    <label for="mois">Mois</label>
                                    <input type="number" class="form-control" id="mois" placeholder="Mois">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="groupe-formulaire">
                                    <label for="jour">Jour</label>
                                    <input type="number" class="form-control" id="jour" placeholder="Jour">
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                    </form>
                </div>
            </div>

            <div class="col-sm-3 col-md-4 offset-md-1 mobile">
                <div class="bg-light rounded d-flex flex-column">
                    <div class="p-2 ml-3">
                        <h4>Résumé de commande </h4></div>
                    <div class="p-2 d-flex">
                        <div class="col-8">Voiture choisi:</div>
                        <div class="ml-auto">XXXXXX</div>
                    </div>
                    <div class="p-2 d-flex">
                        <div class="col-8">Prix sans taxes:</div>
                        <div class="ml-auto"><b>XXXXXX$</b></div>
                    </div>
                    <div class="border-top px-4 mx-3"></div>
                    <div class="p-2 d-flex">
                        <div class="col-8">TPS/TVH estimée:</div>
                        <div class="ml-auto">XX%</div>
                    </div>
                    <div class="p-2 d-flex">
                        <div class="col-8">TVP/TVD/TVQ estimée:</div>
                        <div class="ml-auto">XX%</div>
                    </div>
                    <div class="border-top px-4 mx-3">
                    </div>
                    <div class="p-2 d-flex pt-3">
                        <div class="col-8"><b>Prix total:</b></div>
                        <div class="ml-auto"><b>XXXXXX$</b></div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</body>