<div class="content">
    <div class="container-fluid">
        <div class="row">
            <%- include ("../partials/sectionMenuAdministrateur.ejs") %>
                <div class="col-lg-8 content-area" id="main">
                    <div class="row">
                        <div class="d-flex justify-content-around m-2">
                            <h2>Développeurs frontend</h2>
                            <h2>Développeurs backend</h2>
                        </div>
                        <div class="col mb-4">
                            <div class="card" style="height: 225px">
                                <div class="container w-100 mt-1">
                                    <div style="width: 5rem;">
                                        <img src="../images/a7.jpeg" class="rounded-circle w-100"
                                            style="object-fit: cover;">
                                    </div>

                                    <h5 class="mt-2 mb-0">Manbir</h5>
                                    <span>Developpeur frontend</span>

                                    <div class="px-4 mt-1">
                                        <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                            ut
                                            labore
                                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                            ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col mb-4">
                            <div class="card" style="height: 225px">
                                <div class="container w-100 mt-1">
                                    <div style="width: 5rem;">
                                        <img src="../images/toyota_corolla.png" class="rounded-circle w-100"
                                            style="object-fit: cover;">
                                    </div>

                                    <h5 class="mt-2 mb-0">Jimmy</h5>
                                    <span>Developpeur backend</span>

                                    <div class="px-4 mt-1">
                                        <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                            ut
                                            labore
                                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                            ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-4">
                            <div class="card" style="height: 225px">
                                <div class="container w-100 mt-1">
                                    <div style="width: 5rem;">
                                        <img src="../images/honda_CRV.jpg" class="rounded-circle w-100"
                                            style="object-fit: cover;">
                                    </div>

                                    <h5 class="mt-2 mb-0">Marc</h5>
                                    <span>Developpeur frontend</span>

                                    <div class="px-4 mt-1">
                                        <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                            ut
                                            labore
                                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                            ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card" style="height: 225px">
                                <div class="container w-100 mt-1">
                                    <div style="width: 5rem;">
                                        <img src="../images/Tesla3.jpg" class="rounded-circle w-100"
                                            style="object-fit: cover;">
                                    </div>

                                    <h5 class="mt-2 mb-0">Jad</h5>
                                    <span>Developpeur backend</span>

                                    <div class="px-4 mt-1">
                                        <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                            ut
                                            labore
                                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                            ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>