<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .content {
        padding-top: 15vh;
        align-items: center;
        justify-content: center;
    }

    .card-container {
        width: 90vh;
        height: 75vh;
        margin: auto;
    }

    .btn-group {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .btn-primary {
        width: 30%;
        margin: 0 5%;
    }

    .containerContactConnexion,
    .containerContactInscrire {
        height: 50vh;
    }


    /* Style pour les messages d'erreur */
    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        display: none;
        /* Les messages d'erreur sont cachés par défaut */
    }

    .error-border {
        border: 2px solid red;
    }
</style>

<div class="content">
    <div class="card rounded-5 shadow-sm mb-5 bg-body rounded card-container">
        <div class="d-flex align-items-center justify-content-center btn-group" data-toggle="buttons">
            <a href="/pages/inscription" class="btn btn-primary mt-3">S'inscrire</a>
            <a href="/pages/connexion" class="btn btn-primary mt-3 disabled">Connexion</a>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">

            <div class="containerContactInscrire">
                <form action="/connexion/submit_connexion" method="post" id="connectionForm">
                    <div class="groupe-formulaire">
                        <h1>Content de vous revoir!</h1>
                        <label for="courriel">Courriel</label>
                        <input type="email" class="form-control" id="courrielConnexion" name="courrielConnexion"
                            placeholder="Courriel">
                        <div id="courrielError" class="error-message"></div>
                    </div>
                    <div class="groupe-formulaire mt-2">
                        <label for="motdepasse">Mot de passe</label>
                        <input type="password" class="form-control" id="motDePasseConnexion" name="motDePasseConnexion"
                            placeholder="Mot de passe">
                        <div id="motdepasseError" class="error-message"></div>
                        <div class="checkbox">
                            <input type="checkbox" id="showPasswordCheckbox" onchange="afficherMotDePasse()">
                            <label for="showPasswordCheckbox" class="label">Afficher mot de passe</label>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </div>
                </form>
                <p id="userFullName" style="position: fixed; top: 10px; right: 10px;"></p>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("connectionForm").addEventListener("submit", function (event) {
        // Empêcher le formulaire de se soumettre par défaut
        event.preventDefault();

        // Récupérer les valeurs des champs du formulaire
        const courriel = document.getElementById("courrielConnexion").value;
        const motDePasse = document.getElementById("motDePasseConnexion").value;

        // Réinitialiser les erreurs précédentes
        document.querySelectorAll('.error-message').forEach(function (element) {
            element.style.display = 'none';
        });
        document.querySelectorAll('.form-control').forEach(function (element) {
            element.classList.remove('error-border');
        });

        // Validation du courriel et du mot de passe
        if (!courriel || !validateEmail(courriel)) {
            document.getElementById('courrielError').innerText = 'Courriel invalide';
            document.getElementById('courrielError').style.display = 'block';
            document.getElementById("courrielConnexion").classList.add('error-border');
            return;
        }
        if (!motDePasse) {
            document.getElementById('motdepasseError').innerText = 'Le mot de passe est incorrect';
            document.getElementById('motdepasseError').style.display = 'block';
            document.getElementById("motDePasseConnexion").classList.add('error-border');
            return;
        }

        //  requête à la base de données pour vérifier l'existence du compte
        fetch('/connexion/submit_connexion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ courriel, motDePasse }),
        })
            .then((response) => {
                if (response.ok) return response.json();
                else throw new Error('Erreur de connexion');
            })
            .then((data) => {
                if (data.exists) {
                    let nom = data.nom;
                    let prenom = data.prenom;
                    document.getElementById('userFullName').innerText = prenom + " " + nom;
                    // Après une connexion réussie
                    sessionStorage.setItem('userFullName', prenom + " " + nom);
                    gestionDeconnexion(); // Activer le bouton de déconnexion


                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Gérer les erreurs et afficher les messages appropriés
                if (error.message === 'Le compte n\'existe pas') {
                    document.getElementById('courrielError').innerText = 'Le courriel ou le mot de passe est incorrect';
                    document.getElementById('courrielError').style.display = 'block';
                    document.getElementById('motdepasseError').innerText = 'Le courriel ou le mot de passe est incorrect';
                    document.getElementById("courrielConnexion").classList.add('error-border');
                    document.getElementById("motDePasseConnexion").classList.add('error-border');
                } else {
                    console.error('Erreur de connexion');
                    // Afficher un message d'erreur général
                }
            });
    });

    //Fonction pour valider un courriel
    function validateEmail(email) {
        const re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

    function afficherMotDePasse() {
        var x = document.getElementById("motDePasseConnexion");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>