<div class="content">
    <div class="container-fluid">
        <div class="row">
            <%- include ("../partials/sectionMenuAdministrateur.ejs") %>
                <div class="col-lg-8 content-area" id="main">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="card p-3 py-4">
                                <img src="../images/a7.jpeg" width="100" class="rounded-circle">
                                <h5 class="mt-2 mb-0">Manbir</h5>
                                <span>Developpeur frontend</span>

                                <div class="px-4 mt-1">
                                    <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore
                                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="card p-3 py-4">
                                <img src="../images/toyota_corolla.png" width="100" class="rounded-circle">
                                <h5 class="mt-2 mb-0">Jimmy</h5>
                                <span>Developpeur backend</span>

                                <div class="px-4 mt-1">
                                    <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore
                                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="card p-3 py-4">
                                <img src="../images/honda_CRV.jpg" width="100" class="rounded-circle">
                                <h5 class="mt-2 mb-0">Marc</h5>
                                <span>Developpeur frontend</span>

                                <div class="px-4 mt-1">
                                    <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore
                                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card p-3 py-4">
                                <img src="../images/Tesla3.jpg" width="100" class="rounded-circle">
                                <h5 class="mt-2 mb-0">Jad</h5>
                                <span>Developpeur backend</span>

                                <div class="px-4 mt-1">
                                    <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore
                                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>