<style>
  .content {
    margin-top: 90px;
    display: flex;
  }

  .sidebar {
    width: 15%;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
  }

  .sidebar h3 {
    margin-bottom: 20px;
  }

  .content-area {
    padding: 20px;
    flex-grow: 1;
  }

  .sidebar .nav-link {
    color: #fff;
    transition: color 0.3s;
    cursor: pointer;
  }

  .sidebar .nav-link:hover {
    color: #ffc107;
  }

  .image-box {
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 20px;
  }

  .image-preview {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .image-preview img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .add-image-btn {
    margin-bottom: 10px;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }

  .custom-file-upload:hover {
    background-color: #0056b3;
  }
</style>

<body>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <%- include ('../partials/administrateurSidePanel.ejs') %>
          <div class="col-lg-8 content-area">
            <h1>Administrateur</h1>

            <div class="card">
              <div class="product-list-form">
                <h2>Ajouter un produit</h2>
                <div class="container">
                  <form action="/ajoutVoiture" method="POST">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="marqueProduit">Marque :</label>
                          <input type="text" class="form-control" id="marqueProduit" placeholder="Marque de la voiture" name="marque" value="">
                        </div>
                        <div class="form-group">
                          <label for="modeleProduit">Modèle :</label>
                          <input type="text" class="form-control" id="modeleProduit" placeholder="Modèle de la voiture" name="modele" value="">
                        </div>
                        <div class="form-group">
                          <label for="voitureAnnee">Année :</label>
                          <input type="text" class="form-control" id="voitureAnnee" placeholder="Année de la voiture" name="annee" value="">
                        </div>
                        <div class="form-group">
                          <label for="voiturePrix">Prix :</label>
                          <input type="text" class="form-control" id="voiturePrix" placeholder="Prix de la voiture" name="prix">
                        </div>
                        <div class="form-group">
                          <label for="productDescription">Description :</label>
                          <textarea class="form-control" id="productDescription" rows="3"
                            placeholder="Description de la voiture" name="Description"></textarea>
                        </div>

                      </div>
                      <div class="col-md-6">

                        <div class="form-group">
                          <label for="typeCarosserie">Type de carrosserie :</label>
                          <input type="text" class="form-control" id="typeCarosserie" placeholder="type de carosserie" name="carosserie">
                        </div>

                        <div class="form-group">
                          <label for="typeGaz">Type de gaz :</label>
                          <input type="text" class="form-control" id="typeGaz" placeholder="type de gaz" name="gaz" value="">
                        </div>

                        <div class="form-group">
                          <label for="typeMoteur">Type de moteur :</label>
                          <input type="text" class="form-control" id="typeMoteur" placeholder="type de moteur" name="moteur" value="">
                        </div>

                        <div class="form-group">
                          <label for="nombreCylindre">Nombre de cylindre :</label>
                          <input type="text" class="form-control" id="typeMoteur" placeholder="type de moteur" name="cylindre" value="">
                        </div>

                        <div class="form-group">
                          <label for="typeConduit">Type de conduit :</label>
                          <input type="text" class="form-control" id="typeConduit" placeholder="type de conduit" name="typeConduit" value="">
                        </div>
                        
                        <div class="image-box">
                          <h3>Images</h3>
                          <div class="image-preview" id="imagePreview"></div>
                          <div class="form-group">
                            <label class="custom-file-upload">
                              <input type="file" class="form-control-file" id="productImage" accept="image/*" multiple
                                style="display: none;" onchange="AfficherImagesSelectionner(this)" name="image" value="">
                              Ajouter une image
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Ajouter</button>
                      </div>
                    </div>
                </div>


                <div class="card">
                  <h1 class="mt-5">Modifier les produits</h1>
                  <div class="container mt-5">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Marque</th>
                          <th scope="col">Modèle</th>
                          <th scope="col">Prix ($)</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <% for (let i=0; i < items.length; i++) { %>
                        <tr>
                          <td>
                            <%= items[i].marque %>
                          </td>
                          <td>
                            <%= items[i].modele %>
                          </td>
                          <td>
                            <%= items[i].prix %>
                          </td>
                          <td>
                            <button class="btn btn-warning"><i class="bi bi-pencil-fill"
                                onchange=remplirFormulaire()></i>
                              Modifier</button>
                            <button class="btn btn-danger"><i class="bi bi-trash3-fill"></i> Supprimer</button>
                          </td>
                        </tr>
                        <% } %>
                    </table>
                  </div>
                </div>


              </div>
            </div>

          </div>
      </div>
    </div>
  </div>


  <script>
    function ActivationBoutonAjouter() {
      var submitBtn = document.getElementById('submitBtn');
      var marqueProduit = document.getElementById('marqueProduit').value;
      var modeleProduit = document.getElementById('modeleProduit').value;
      var voiturePrix = document.getElementById('voiturePrix').value;
      var productDescription = document.getElementById('productDescription').value;
      var productImage = document.getElementById('productImage').files;

      if (marqueProduit && modeleProduit && voiturePrix && productDescription && productImage.length === 4) {
        submitBtn.disabled = false;
      } else {
        submitBtn.disabled = true;
      }
    }


    //Source: Aidé par chatgpt
    function AfficherImagesSelectionner(input) {
      var preview = document.getElementById('imagePreview');
      var files = input.files;

      preview.innerHTML = '';

      for (var i = 0; i < files.length; i++) {
        var file = files[i];
        var reader = new FileReader();

        reader.onload = function (e) {
          var img = document.createElement('img');
          img.src = e.target.result;
          img.classList.add('mr-2', 'mb-2');
          preview.appendChild(img);

          ActivationBoutonAjouter();
        }

        reader.readAsDataURL(file);
      }
    }


    function remplirFormulaire(marque, modele, prix) {
      document.getElementById('marqueProduit').value = marque;
      document.getElementById('modeleProduit').value = modele;
      document.getElementById('voiturePrix').value = prix;
    }



    var buttonsModifier = document.querySelectorAll('.btn-warning');
    buttonsModifier.forEach(function (button) {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        var row = this.closest('tr');
        var marque = row.cells[0].textContent;
        var modele = row.cells[1].textContent;
        var prix = row.cells[2].textContent;

        remplirFormulaire(marque, modele, prix);
      });
    });
  </script>