<!--Source pour animation voiture: https://stackoverflow.com/questions/69234745/car-animation-from-left-to-right-and-then-hide-car-image-->
<style>
    .car-movement {
        overflow: hidden;
        font-size: 40px;
        height: 50px;
    }

    .car-movement>.car {
        position: relative;
        display: inline-block;
        animation: linear infinite;
        animation-name: run;
        animation-duration: 5s;
    }


    @keyframes run {
        0% {
            transform: rotateY(180deg);
            left: -100px;
        }

        50% {
            transform: rotateY(180deg);
            left: 100%;
        }

        51% {
            transform: rotateY(0deg);
            left: calc(100% + 100px);
        }

        100% {
            transform: rotateY(0deg);
            left: -100px;
        }
    }
</style>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <%- include ("../partials/sectionMenuAdministrateur.ejs") %>
                <div class="col-lg-8 content-area" id="main">
                    <div class="row">
                        <div class="d-flex justify-content-around m-2">
                            <h2>Développeurs frontend</h2>
                            <h2>Développeurs backend</h2>
                        </div>
                        <div class="col mb-4">
                            <div class="card" style="height: 225px">
                                <div class="container w-100 mt-1">
                                    <div style="width: 5rem;">
                                        <img src="../images/a7.jpeg" class="rounded-circle w-100"
                                            style="object-fit: cover;">
                                    </div>

                                    <h5 class="mt-2 mb-0">Manbir</h5>
                                    <span>Developpeur frontend</span>

                                    <div class="px-4 mt-1">
                                        <p class="fonts">Je me suis occupé de faire le développement majeure de
                                            l'interface de notre site web.
                                            J'ai fais le frontend de la page contact, connexion, administrateur
                                            et commande. De temps en temps, j'ai codé un peu le backend pour altérer
                                            et avoir de connaissance dans cela. </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col mb-4">
                            <div class="card" style="height: 225px">
                                <div class="container w-100 mt-1">
                                    <div style="width: 5rem;">
                                        <img src="../images/toyota_corolla.png" class="rounded-circle w-100"
                                            style="object-fit: cover;">
                                    </div>

                                    <h5 class="mt-2 mb-0">Jimmy</h5>
                                    <span>Developpeur backend</span>

                                    <div class="px-4 mt-1">
                                        <p class="fonts">Je suis responsable du stripe API.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-4">
                            <div class="card" style="height: 225px">
                                <div class="container w-100 mt-1">
                                    <div style="width: 5rem;">
                                        <img src="../images/honda_CRV.jpg" class="rounded-circle w-100"
                                            style="object-fit: cover;">
                                    </div>

                                    <h5 class="mt-2 mb-0">Marc</h5>
                                    <span>Developpeur frontend</span>

                                    <div class="px-4 mt-1">
                                        <p class="fonts">G rien fait lmao.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card" style="height: 225px">
                                <div class="container w-100 mt-1">
                                    <div style="width: 5rem;">
                                        <img src="../images/Tesla3.jpg" class="rounded-circle w-100"
                                            style="object-fit: cover;">
                                    </div>

                                    <h5 class="mt-2 mb-0">Jad</h5>
                                    <span>Developpeur backend</span>

                                    <div class="px-4 mt-1">
                                        <p class="fonts">J'adore tesla.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>


                    <div class="car-movement mt-5">
                        <div class="car">
                            <img src="../images/lambo.png" style="width: 9rem;">
                        </div>
                    </div>



                </div>
        </div>
    </div>
</div>