<!-- Source: https://bbbootstrap.com/snippets/bootstrap-5-myprofile-90806631# -->
<style>
    body {
        background: rgb(58, 84, 150)
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #55a1b5
    }

    .profile-button {
        background: rgb(58, 84, 150);
        box-shadow: none;
        border: none
    }

    .profile-button:hover {
        background: #6892c8;
    }

    .profile-button:focus {
        background: #6892c8;
        box-shadow: none
    }

    .profile-button:active {
        background: #6892c8;
        box-shadow: none
    }

    .back:hover {
        color: #6892c8;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #6892c8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #6f84d7
    }

    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        display: none;
        /* Les messages d'erreur sont cachés par défaut */
    }
</style>
<br>
<br>
<br>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex justify-content-center mt-3">
                <img width="200px" src="../images/Concessionnaire_Rubious-removebg-preview.png" alt="Logo">
            </div>
            <div class="d-flex align-items-center mt-5 h-50 justify-content-center">
                <h3 class="text-black-50" id="messageBonjour"></h3>
            </div>
        </div>
        <div class="col-md-5">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Votre Profil</h4>
                </div>
                <div class="row mt-2">
                    <form action="/profile/submit_profil" method="post" id="profilForm">
                        <div class="col-md-6">
                            <label for="nom">Nom</label>
                            <input id="nom" type="text" class="form-control" placeholder="Nom" name="nom">
                            <div id="nomError" class="error-message"></div>
                        </div>
                        <div class="col-md-6">
                            <label for="prenom">Prénom</label>
                            <input id="prenom" type="text" class="form-control" placeholder="Prénom" name="prenom">
                            <div id="prenomError" class="error-message"></div>
                        </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="courriel">Courriel</label>
                        <input id="courriel" type="text" class="form-control" placeholder="Entrez votre courriel"
                            name="courriel">
                        <div id="courrielError" class="error-message"></div>
                    </div>
                    <div class="col-md-12">
                        <label for="telephone">Téléphone</label>
                        <input id="telephone" type="tel" class="form-control"
                            placeholder="Entrez votre numéro de téléphone" name="telephone">
                        <div id="telephoneError" class="error-message"></div>
                    </div>
                    <div class="col-md-12">
                        <label for="adresse">Adresse</label>
                        <input id="adresse" type="text" class="form-control" placeholder="Entrez votre adresse"
                            name="adresse">
                        <div id="adresseError" class="error-message"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <h5>Changer votre mot de passe</h5>
                        </div>
                        <div class="col-md-12">
                            <label for="motDePasse">Ancien mot de passe</label>
                            <input id="motDePasseAncien" type="password" class="form-control"
                                placeholder="Entrez votre mot de passe" name="motDePasse">
                            <div id="ancienMotDePasseError" class="error-message"></div>
                        </div>
                        <div class="col-md-12">
                            <label for="motDePasse">Nouveau mot de passe</label>
                            <input id="motDePasse" type="password" class="form-control"
                                placeholder="Entrez votre mot de passe" name="motDePasse1">
                            <div id="motdepasseError" class="error-message"></div>
                            <div class="checkbox">
                                <input type="checkbox" id="showPasswordCheckbox" onchange="afficherMotDePasse()">
                                <label for="showPasswordCheckbox" class="label">Afficher mot de passe</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Enregistrer</button>
                </div>

                <input id="userId" type="hidden" class="form-control" placeholder="Entrez votre mot de passe"
                    name="userId1">
                <p id="userFullName"></p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        const userNom = sessionStorage.getItem('userNom');
        const userPrenom = sessionStorage.getItem('userPrenom');
        const userCourriel = sessionStorage.getItem('userCourriel');
        const userTelephone = sessionStorage.getItem('userTelephone');
        const userAdresse = sessionStorage.getItem('userAdresse');
        const userMotDePasse = sessionStorage.getItem('userMotDePasse');
        console.log(userMotDePasse);
        const userId = sessionStorage.getItem('userId');
        const fullName = sessionStorage.getItem('userFullName');
        document.getElementById('nom').value = userNom;
        document.getElementById('prenom').value = userPrenom;
        document.getElementById('courriel').value = userCourriel;
        document.getElementById('telephone').value = userTelephone;
        document.getElementById('adresse').value = userAdresse;
        document.getElementById('userId').value = userId;
        document.getElementById('messageBonjour').innerText = "Bonjour \n" + userPrenom + " " + userNom + "!";

    });
    function afficherMotDePasse() {
        var x = document.getElementById("motDePasse");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }


    document.getElementById('profilForm').addEventListener('submit', async function (event) {
        event.preventDefault(); // Empêcher la soumission par défaut du formulaire
        // Récupérer les valeurs des champs
        const prenom = document.getElementById('prenom').value;
        const nom = document.getElementById('nom').value;
        const courriel = document.getElementById('courriel');
        const telephone = document.getElementById('telephone');
        const adresse = document.getElementById('adresse');
        const ancienMotdepasse = document.getElementById('motDePasseAncien');
        const motdepasse = document.getElementById('motDePasse');

        // Réinitialiser les messages d'erreur et les bordures
        document.querySelectorAll('.error-message').forEach(function (element) {
            element.style.display = 'none';
        });
        document.querySelectorAll('.form-control').forEach(function (element) {
            element.classList.remove('error-border');
        });

        // Vérifier la validation
        let isValid = true;

        if (!prenom) {
            document.getElementById('prenomError').innerText = 'Prénom est requis';
            document.getElementById('prenomError').style.display = 'block';
            document.getElementById('prenom').classList.add('error-border');
            isValid = false;
        }

        if (!nom) {
            document.getElementById('nomError').innerText = 'Nom de Famille est requis';
            document.getElementById('nomError').style.display = 'block';
            document.getElementById('nom').classList.add('error-border');
            isValid = false;
        }

        if (!courriel.value || !validateEmail(courriel.value)) {
            document.getElementById('courrielError').innerText = 'Courriel invalide';
            document.getElementById('courrielError').style.display = 'block';
            courriel.classList.add('error-border');
            isValid = false;
        }

        const numeroTelephone = telephone.value.replace(/\D/g, '');

        if (!numeroTelephone || numeroTelephone.length !== 10) {
            document.getElementById('telephoneError').innerText = 'Numéro invalide';
            document.getElementById('telephoneError').style.display = 'block';
            telephone.classList.add('error-border');
            isValid = false;
        }

        if (!adresse.value) {
            document.getElementById('adresseError').innerText = 'Adresse est requise';
            document.getElementById('adresseError').style.display = 'block';
            adresse.classList.add('error-border');
            isValid = false;
        }

        console.log("session storage mot de passe : " + sessionStorage.getItem('userMotDePasse'));
        if (!ancienMotdepasse.value && motdepasse.value) {
            document.getElementById('ancienMotDePasseError').innerText = 'Ce mot de passe est incorrect.';
            document.getElementById('ancienMotDePasseError').style.display = 'block';
            ancienMotdepasse.classList.add('error-border');
            isValid = false;
        }

        if (ancienMotdepasse.value && ancienMotdepasse.value != sessionStorage.getItem('userMotDePasse')) {
            document.getElementById('ancienMotDePasseError').innerText = 'Ce mot de passe est incorrect.';
            document.getElementById('ancienMotDePasseError').style.display = 'block';
            ancienMotdepasse.classList.add('error-border');
            isValid = false;
        }

        if (ancienMotdepasse.value && (!motdepasse.value || motdepasse.value.length < 8)) {
            document.getElementById('motdepasseError').innerText = 'Le mot de passe doit contenir au moins 8 caractères';
            document.getElementById('motdepasseError').style.display = 'block';
            motdepasse.classList.add('error-border');
            isValid = false;
        }
        // Soumettre le formulaire si la validation est réussie
        if (isValid) {
            // Vérifier si l'email existe déjà
            const emailExists = await checkEmailExists(courriel.value);

            if (emailExists || courriel.value != sessionStorage.getItem('userCourriel')) {
                document.getElementById('courrielError').innerText = 'Cet email est déjà utilisé. Veuillez en choisir un autre.';
                document.getElementById('courrielError').style.display = 'block';
                courriel.classList.add('error-border');
            } else {
                this.submit();
                document.getElementById('userFullName').innerText = prenom + " " + nom;
                // Après une connexion réussie
                sessionStorage.setItem('userFullName', prenom + " " + nom);
                sessionStorage.setItem('userNom', nom);
                sessionStorage.setItem('userPrenom', prenom);
                sessionStorage.setItem('userCourriel', courriel.value);
                sessionStorage.setItem('userTelephone', telephone.value);
                sessionStorage.setItem('userAdresse', adresse.value);
                sessionStorage.setItem('userMotDePasse', motdepasse.value);
                
            }
        }
    });

    // Fonction pour valider un courriel
    function validateEmail(email) {
        const re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

    // Fonction pour vérifier si l'email existe déjà
    function checkEmailExists(email) {
    return $.ajax({
        type: 'POST',
        url: '/checkEmailExists1',
        contentType: 'application/json',
        data: JSON.stringify({ email: email }),
        success: function (response) {
            return response.exists;
        },
        error: function (xhr, status, error) {
            console.error('Error:', error);
        }
    });
}
</script>