<!--Ce page commande pour voire la voiture commandé-->

<!--Source: https://mdbootstrap.com/docs/standard/extended/order-details/-->
<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .content {
        padding-top: 10vh;
        align-items: center;
        justify-content: center;
    }

    .centrerText {
        text-align: center;
    }

    .centrerText2 {
        text-align: center;
    }


    .horizontalLine .items {
        border-top: 3px solid #000000;
        position: relative;
    }

    .horizontalLine .items .items-list::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #ddd;
        top: 0;
        margin-top: -10px;
    }

    .horizontalLine .items .items-list {
        padding-top: 15px;
    }

</style>



<body>
    <div class="content">
        <div class="container py-5 h-100">
            <div class="d-flex align-items-center justify-content-center mt-5">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <h1 class="centrerText">Félicitations!</h1>
                    <h4 class="centrerText2">Votre voiture est en mode de procédure.</h4>
                    <div class="d-flex flex-row mb-4 pb-2">
                        <div class="flex-fill">
                            <h5 class="bold" id="nom"></h5>
                            <p id="prix"></p>
                            <h4>Autre détails</h4>
                            <p id="date"></p>
                        </div>
                        <div id="imageVoiture">
                            
                        </div>
                    </div>
                    <h4>Détails</h4>
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="horizontalLine">

                                <ul class="list-inline items d-flex justify-content-between">
                                    <li class="list-inline-item items-list">
                                        <p class="py-1 px-2 rounded text-black" style="background-color: #3bb42e; font-weight: bold;">
                                            Commande passée</p>
                                    </li>
                                    <li class="list-inline-item items-list">
                                        <p class="py-1 px-2 rounded text-black" style="font-weight: bold;">
                                            En processus</p>
                                    </li>
                                    <li class="list-inline-item items-list">
                                        <p class="py-1 px-2 rounded text-black" style="font-weight: bold;">Expédié
                                        </p>
                                    </li>
                                    <li class="list-inline-item items-list text-end" style=" font-weight: bold;">
                                        <p class="py-1 px-2 rounded text-black">Prêt à chercher
                                        </p>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/sectionContact.ejs') %>
    
</body>

<script>
    function changerDeCouleur(){
        const items = document.querySelectorAll('.horizontalLine .items-list p');
        const changerTexte = ["Votre voiture est en mode de procédure.", "Votre voiture est en mode processus", "Votre voiture est expédié", "Votre voiture est livré"];
        items.forEach((item, index) =>{
            setTimeout(() => {
                item.style.backgroundColor = '#3bb42e';
                document.querySelector('.centrerText2').textContent = changerTexte[index];
            }, index * 7000 );
        });
    }
    setTimeout(changerDeCouleur, 7000);

    function getQueryParams() {
        var params = {};
        var queryString = window.location.search.substring(1);
        var pairs = queryString.split("&");

        for (var i = 0; i < pairs.length; i++) {
            var pair = pairs[i].split("=");
            params[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
        }

        return params;
    }

    var queryParams = getQueryParams();

    document.getElementById("nom").innerText = queryParams["produitNom"];
    document.getElementById("prix").innerText = queryParams["price"];
    document.getElementById("date").innerText = "Date de livraison estimée: " + queryParams["date"];
</script>
<script>
    window.addEventListener('load', function() {
        let nomVoiture = document.getElementById("nom").innerHTML;
        let prixVoiture = document.getElementById("prix").innerHTML;
        let dateVoiture = document.getElementById("date").innerHTML;
        let nomUtilisateur = sessionStorage.getItem("userFullName");

        fetch('/command', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ nom: nomVoiture, prix: prixVoiture, date: dateVoiture, user: nomUtilisateur })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erreur de connection avec MongoDB');
            }
            return response.json();
        })
        .catch(error => {
            console.error('Erreur dans l`insertion : ', error);
        });

        fetch('/getImageVoiture', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ nom: nomVoiture})
        })
            .then(response => response.json())
            .then(data => {
                const voitureImage = document.getElementById('imageVoiture');
                if (data) {
                    voitureImage.innerHTML = `
                        <img src="${data.images[0]}" alt="Car Image">
                    `;
                } else {
                    voitureImage.innerHTML = '<p>Image manquante</p>';
                }
            })
            .catch(error => {
                console.error('Error fetching car details:', error);
            });
    });
</script>
