<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .content {
            padding-top: 15vh;
            align-items: center;
            justify-content: center;
        }

        .card-container {
            width: 90vh;
            height: 75vh;
            margin: auto;
        }

        .btn-group {
            display: flex;
            justify-content: center;
            margin-top: 5%;
        }

        .btn-primary {
            width: 30%;
            margin: 0 5%;
        }

        .containerContactConnexion,
        .containerContactInscrire {
            height: 50vh;
        }


        /* Style pour les messages d'erreur */
        .error-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
            display: none; /* Les messages d'erreur sont cachés par défaut */
        }
        .error-border {
    border: 2px solid red;
}

    </style>
    <script>
        function toggleForms(formToShow, formToHide) {
            document.getElementById(formToShow).style.display = "";
            document.getElementById(formToHide).style.display = "none";
        }

        function togglePasswordVisibility() {
            let passwordInput = document.getElementById("motdepasse");
            if (passwordInput.type == "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
</head>

<body>
    <div class="content">
        <div class="card rounded-5 shadow-sm mb-5 bg-body rounded card-container">
            <div class="d-flex align-items-center justify-content-center btn-group" data-toggle="buttons">
                <button class="btn btn-primary mt-3" onclick="toggleForms('inscrire', 'connection')">S'inscrire</button>
                <button class="btn btn-primary mt-3" onclick="toggleForms('connection', 'inscrire')">Connexion</button>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-3">

                <div class="containerContactConnexion" id="inscrire">
                    <form action="/login/submit_login" method="post" id="inscriptionForm">
                        <div class="ligne-formulaire">
                            <h1 style="text-align: center;">Merci de vous inscrire!</h1>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="groupe-formulaire">
                                        <label for="prenom">Prénom</label>
                                        <input type="text" class="form-control" id="prenom" placeholder="Prénom" name="prenom">
                                        <div id="prenomError" class="error-message"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="groupe-formulaire">
                                        <label for="nom">Nom</label>
                                        <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom">
                                        <div id="nomError" class="error-message"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="groupe-formulaire">
                            <label for="courriel">Courriel</label>
                            <input type="email" class="form-control" id="courriel" placeholder="Courriel" name="courriel">
                            <div id="courrielError" class="error-message"></div>
                        </div>
                        <div class="groupe-formulaire">
                            <label for="telephone">Téléphone</label>
                            <input type="tel" class="form-control" id="telephone" placeholder="Téléphone" name="telephone">
                            <div id="telephoneError" class="error-message"></div>
                        </div>
                        <div class="groupe-formulaire">
                            <label for="adresse">Adresse</label>
                            <input type="text" class="form-control" id="adresse" placeholder="Adresse" name="adresse">
                            <div id="adresseError" class="error-message"></div>
                        </div>
                        <div class="groupe-formulaire">
                            <label for="motdepasse">Mot de passe</label>
                            <input type="password" class="form-control" id="motdepasse" placeholder="Mot de passe" name="motdepasse">
                            <div id="motdepasseError" class="error-message"></div>
                        </div>
                        <div class="groupe-formulaire">
                            <label for="confirmerMotPasse">Confirmer votre mot de passe</label>
                            <input type="password" class="form-control" id="confirmerMotPasse"
                                placeholder="Confirmer votre mot de passe" name="confirmerMotPasse">
                            <div id="confirmerMotPasseError" class="error-message"></div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">S'inscrire</button>
                        </div>
                    </form>
                </div>

                <div class="containerContactInscrire" id="connection" style="display: none;">
                    <form>
                        <div class="groupe-formulaire">
                            <h1>Content de vous revoir!</h1>
                            <label for="courriel">Courriel</label>
                            <input type="email" class="form-control" id="courriel" placeholder="Courriel">
                        </div>
                        <div class="groupe-formulaire mt-2">
                            <label for="motdepasse">Mot de passe</label>
                            <input type="password" class="form-control" id="motdepasse" placeholder="Mot de passe">
                            <div class="checkbox">
                                <input type="checkbox" id="showPasswordCheckbox" onchange="togglePasswordVisibility()">
                                <label for="showPasswordCheckbox" class="label">Afficher mot de passe</label>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        // JavaScript pour la validation côté client
        document.getElementById('inscriptionForm').addEventListener('submit', function (event) {
            const prenom = document.getElementById('prenom');
            const nom = document.getElementById('nom');
            const courriel = document.getElementById('courriel');
            const telephone = document.getElementById('telephone');
            const adresse = document.getElementById('adresse');
            const motdepasse = document.getElementById('motdepasse');
            const confirmerMotPasse = document.getElementById('confirmerMotPasse');
    
            // Réinitialiser les messages d'erreur et les bordures
            document.querySelectorAll('.error-message').forEach(function (element) {
                element.style.display = 'none';
            });
            document.querySelectorAll('.form-control').forEach(function (element) {
                element.classList.remove('error-border');
            });
    
            // Vérifier la validation
            let isValid = true;
    
            if (!prenom.value) {
                document.getElementById('prenomError').innerText = 'Prénom est requis';
                document.getElementById('prenomError').style.display = 'block';
                prenom.classList.add('error-border');
                isValid = false;
            }
    
            if (!nom.value) {
                document.getElementById('nomError').innerText = 'Nom de Famille est requis';
                document.getElementById('nomError').style.display = 'block';
                nom.classList.add('error-border');
                isValid = false;
            }
    
            if (!courriel.value || !validateEmail(courriel.value)) {
                document.getElementById('courrielError').innerText = 'Courriel invalide';
                document.getElementById('courrielError').style.display = 'block';
                courriel.classList.add('error-border');
                isValid = false;
            }
    
            if (!telephone.value) {
                document.getElementById('telephoneError').innerText = 'Téléphone est requis';
                document.getElementById('telephoneError').style.display = 'block';
                telephone.classList.add('error-border');
                isValid = false;
            }
    
            if (!adresse.value) {
                document.getElementById('adresseError').innerText = 'Adresse est requise';
                document.getElementById('adresseError').style.display = 'block';
                adresse.classList.add('error-border');
                isValid = false;
            }
    
            if (!motdepasse.value || motdepasse.value.length < 8) {
                document.getElementById('motdepasseError').innerText = 'Le mot de passe doit contenir au moins 8 caractères';
                document.getElementById('motdepasseError').style.display = 'block';
                motdepasse.classList.add('error-border');
                isValid = false;
            }
    
            if (!confirmerMotPasse.value || confirmerMotPasse.value !== motdepasse.value) {
                document.getElementById('confirmerMotPasseError').innerText = 'Les mots de passe ne correspondent pas';
                document.getElementById('confirmerMotPasseError').style.display = 'block';
                confirmerMotPasse.classList.add('error-border');
                isValid = false;
            }
    
            if (!isValid) {
                event.preventDefault(); // Empêcher la soumission du formulaire si la validation échoue
            }
        });
    
        // Fonction pour valider un courriel
        function validateEmail(email) {
            const re = /\S+@\S+\.\S+/;
            return re.test(email);
        }
    </script>
    
    
</body>

</html>
