<div class="container mt-5">
    <br>
    <h2>Nous contacter</h2>
    <form class="form-vertical">
        <div class="d-flex justify-content-center">
            <div class="m-2">
                <label>Courriel:</label>
                <input type="email" class="form-control">
            </div>

            <div class="m-2">
                <label>Raison de contact:</label>
                <select class="form-select">
                    <option value="" hidden>-----Sélectionnez-----</option>
                    <option value="question">Je veux demander une question</option>
                    <option value="postuler">Je veux réserver un essai routier</option>
                    <option value="plainte">Je veux me plaindre</option>
                    <option value="commentaire">Je veux laisser un commentaire</option>
                </select>
            </div>
            <div class="m-2">
                <label>Choisir un rendez-vous:</label>
                <input type="date" class="form-control">
            </div>
            <div class="m-2">
                <label>Message supplémentaire:</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="m-5">
                <button class="btn btn-primary">
                    Envoyer
                </button>
            </div>
        </div>
    </form>
</div>