<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .content {
        padding-top: 15vh;
        align-items: center;
        justify-content: center;
    }

    .card-container {
        width: 90vh;
        height: 90vh;
        margin: auto;
    }

    .btn-group {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .btn-primary {
        width: 30%;
        margin: 0 5%;
    }

    .containerInscription {
        height: 50vh;
    }


    /* Style pour les messages d'erreur */
    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
        display: none;
        /* Les messages d'erreur sont cachés par défaut */
    }

    .error-border {
        border: 2px solid red;
    }
</style>


<div class="content">
    <div class="card rounded-5 shadow-sm mb-5 bg-body rounded card-container">
        <div class="d-flex align-items-center justify-content-center btn-group" data-toggle="buttons">
            <a href="/pages/inscription" class="btn btn-primary mt-3 disabled">S'inscrire</a>
            <a href="/pages/connexion" class="btn btn-primary mt-3">Connexion</a>
        </div>
        <div class="container" id="inscrire">
            <form action="/inscription/submit_inscription" method="post" id="inscriptionForm">
                <div class="ligne-formulaire">
                    <h1 style="text-align: center;">Merci de vous inscrire!</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="groupe-formulaire">
                                <label for="prenom">Prénom</label>
                                <input type="text" class="form-control" id="prenom" placeholder="Prénom" name="prenom">
                                <div id="prenomError" class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="groupe-formulaire">
                                <label for="nom">Nom</label>
                                <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom">
                                <div id="nomError" class="error-message"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="groupe-formulaire">
                    <label for="courriel">Courriel</label>
                    <input type="email" class="form-control" id="courriel1" placeholder="Courriel" name="courriel">
                    <div id="courrielError" class="error-message"></div>
                </div>
                <div class="groupe-formulaire">
                    <label for="telephone">Téléphone</label>
                    <input type="tel" class="form-control" id="telephone" placeholder="Téléphone" maxlength="10"
                        name="telephone">
                    <div id="telephoneError" class="error-message"></div>
                </div>
                <div class="groupe-formulaire">
                    <label for="adresse">Adresse</label>
                    <input type="text" class="form-control" id="adresse" placeholder="Adresse" name="adresse">
                    <div id="adresseError" class="error-message"></div>
                </div>
                <div class="groupe-formulaire">
                    <label for="motdepasse">Mot de passe</label>
                    <input type="password" class="form-control" id="motdepasse" placeholder="Mot de passe"
                        name="motdepasse">
                    <div id="motdepasseError" class="error-message"></div>
                </div>
                <div class="groupe-formulaire">
                    <label for="confirmerMotPasse">Confirmer votre mot de passe</label>
                    <input type="password" class="form-control" id="confirmerMotPasse"
                        placeholder="Confirmer votre mot de passe" name="confirmerMotPasse">
                    <div id="confirmerMotPasseError" class="error-message"></div>
                </div>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>
            </form>
            <p class="mt-5 text-success" id="texteSucces"></p>
        </div>
    </div>
</div>



<script>
    // JavaScript pour la validation côté client
    document.getElementById('inscriptionForm').addEventListener('submit', function (event) {
        const prenom = document.getElementById('prenom');
        const nom = document.getElementById('nom');
        const courriel = document.getElementById('courriel1');
        const telephone = document.getElementById('telephone');
        const adresse = document.getElementById('adresse');
        const motdepasse = document.getElementById('motdepasse');
        const confirmerMotPasse = document.getElementById('confirmerMotPasse');

        // Réinitialiser les messages d'erreur et les bordures
        document.querySelectorAll('.error-message').forEach(function (element) {
            element.style.display = 'none';
        });
        document.querySelectorAll('.form-control').forEach(function (element) {
            element.classList.remove('error-border');
        });

        // Vérifier la validation
        let isValid = true;

        if (!prenom.value) {
            document.getElementById('prenomError').innerText = 'Prénom est requis';
            document.getElementById('prenomError').style.display = 'block';
            prenom.classList.add('error-border');
            isValid = false;
        }

        if (!nom.value) {
            document.getElementById('nomError').innerText = 'Nom de Famille est requis';
            document.getElementById('nomError').style.display = 'block';
            nom.classList.add('error-border');
            isValid = false;
        }

        if (!courriel.value || !validateEmail(courriel.value)) {
            document.getElementById('courrielError').innerText = 'Courriel invalide';
            document.getElementById('courrielError').style.display = 'block';
            courriel.classList.add('error-border');
            isValid = false;
        }


        const numeroTelephone = telephone.value.replace(/\D/g, '');

        // Vérifier si la longueur du numéro de téléphone est exactement 10
        if (!numeroTelephone || numeroTelephone.length !== 10) {
            document.getElementById('telephoneError').innerText = 'Numéro invalide';
            document.getElementById('telephoneError').style.display = 'block';
            telephone.classList.add('error-border');
            isValid = false;
        }

        if (!adresse.value) {
            document.getElementById('adresseError').innerText = 'Adresse est requise';
            document.getElementById('adresseError').style.display = 'block';
            adresse.classList.add('error-border');
            isValid = false;
        }

        if (!motdepasse.value || motdepasse.value.length < 8) {
            document.getElementById('motdepasseError').innerText = 'Le mot de passe doit contenir au moins 8 caractères';
            document.getElementById('motdepasseError').style.display = 'block';
            motdepasse.classList.add('error-border');
            isValid = false;
        }



        if (!confirmerMotPasse.value || confirmerMotPasse.value !== motdepasse.value) {
            document.getElementById('confirmerMotPasseError').innerText = 'Les mots de passe ne correspondent pas';
            document.getElementById('confirmerMotPasseError').style.display = 'block';
            confirmerMotPasse.classList.add('error-border');
            isValid = false;
        }

        if (!isValid) {
            event.preventDefault(); // Empêcher la soumission du formulaire si la validation échoue
        } else {
            document.getElementById("texteSucces").innerText = "Inscription réussie!";
        }
    });

    //Fonction pour valider un courriel
    function validateEmail(email) {
        const re = /\S+@\S+\.\S+/;
        return re.test(email);
    }
</script>