<body>
    <div class="sectionHaut">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="boiteMilieu">
                <div class="container">
                    <div class="row" style="margin-top: 1%;">
                        <div class="col-md-3">
                            ONE
                        </div>
                        <div class="col-md-3">
                            TWO
                        </div>
                        <div class="col-md-3">
                            THREE   
                        </div>
                        <div class="col-md-3">
                            FOUR   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testDiv">
        
    </div>
</body>