<style>
    .testbox {}
</style>

<div class="container mt-5">
    <br>

    <div class="card w-25 border-dark shadow-sm">
        <img src="../images/402436-2021-polestar-2.jpg" class="rounded-2">


        <h3>Nom de voiture</h3>
    </div>

</div>