<div class="container mb-5">
    <div style="width: 40rem; float: left;">
        <img src="../images/a6.jpg" class="card-img-top">
    </div>
    <div style="width: 40rem; float: right; justify-content: center;">
        <div>
            <div class="row">
                <div class="col-md-5 m-3">
                    <img src="../images/a6.jpg" class="card-img-top">
                </div>
                <div class="col-md-5 m-3">
                    <img src="../images/a6.jpg" class="card-img-top">
                </div>
              </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-5 m-3">
                    <img src="../images/a6.jpg" class="card-img-top">
                </div>
                <div class="col-md-5 m-3">
                    <img src="../images/a6.jpg" class="card-img-top">
                </div>
              </div>
        </div>
    </div>
</div>
<div class="container mt-5" >
    <h1>XXXXXXX$</h1>
</div>