<style>
    .boiteInformation {
        height: 75vh;
        width: 60vh;
    }
    .imgIcons {
        width: 30px;
        height: 30px;
        margin-right: 5%;
    }
</style>
<div class="content">
    <div class="d-flex align-items-center justify-content-center mt-5">
        <div class="container">
            <div class="jumbotron p-5">
                <div class="mb-5">
                    <div class="row">
                        <div class="col">
                            <img class="imgIcons" src="../images/car-silhouette.svg" alt=""> Sedan
                        </div>
                        <div class="col">
                            <img class="imgIcons" src="../images/odometer.svg" alt=""> 0 KM
                        </div>
                      </div>
                    <div class="row">
                        <div class="col">
                            <img class="imgIcons" src="../images/fuel.svg" alt=""> Gasoline
                        </div>
                        <div class="col">
                            <img class="imgIcons" src="../images/calendar.svg" alt=""> 2020
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img class="imgIcons" src="../images/transmission.svg" alt=""> Automatique
                        </div>
                        <div class="col">
                            <img class="imgIcons" src="../images/steering-wheel.svg" alt=""> FWD
                        </div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit mauris metus, eget eleifend massa pellentesque ut. Sed scelerisque eleifend tincidunt. Suspendisse fermentum mauris a elit fermentum, ut suscipit nulla tempus. Nullam et lorem ut enim pretium ultrices efficitur ac nibh. Cras fringilla porttitor orci, id porta odio feugiat vitae. Ut sed molestie sem. Morbi a libero eu nisi convallis placerat eget nec ante. Quisque lobortis diam arcu, ut vehicula purus tincidunt sit amet. Mauris iaculis nibh justo, ac vehicula massa porta vel.
                    <br><br>
                    Duis tincidunt mattis pretium. Nullam eget orci sed nunc lobortis lacinia id et dui. Duis sed suscipit justo. Etiam ullamcorper molestie nisl eget viverra. Nulla cursus odio vitae nulla cursus vulputate. Aenean ut lectus quam. Mauris scelerisque turpis id lacinia tempus. Donec volutpat sollicitudin velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed non neque ac leo ullamcorper facilisis. Aliquam lacinia tortor ac massa porttitor, vel aliquet elit eleifend.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bg-light rounded d-flex flex-column">
                <div class="p-2 ml-3">
                    <h4><b>Résumé de commande</b></h4>
                </div>
                <div class="p-2 d-flex">
                    <div class="col-8">Voiture choisi:</div>
                    <div class="ml-auto">XXXXXX</div>
                </div>
                <div class="p-2 d-flex">
                    <div class="col-8">Prix sans taxes:</div>
                    <div class="ml-auto"><b>XXXXXX$</b></div>
                </div>
                <div class="border-top px-4 mx-3"></div>
                <div class="p-2 d-flex">
                    <div class="col-8">TPS/TVH estimée:</div>
                    <div class="ml-auto">XX%</div>
                </div>
                <div class="p-2 d-flex">
                    <div class="col-8">TVP/TVD/TVQ estimée:</div>
                    <div class="ml-auto">XX%</div>
                </div>
                <div class="border-top px-4 mx-3">
                </div>
                <div class="p-2 d-flex pt-3">
                    <div class="col-8"><b>Prix total:</b></div>
                    <div class="ml-auto"><b>XXXXXX$</b></div>
                </div>

                <button class="btn btn-primary">Payer</button>
            </div>
        </div>   
    </div>
</div>