<footer class="py-5 border-top bg-dark">
    <div class="d-flex justify-content-around">
        <p class="text-secondary">© 2024 Rubious, Inc</p>

        <ul>
            <li>
                <h3 class="text-secondary">Go check our</h3>
            </li>
            <li>
                <div class="text-secondary"><a href="#">Twitter</a></div>
            </li>
            <li>
                <div class="text-secondary"><a href="#">Instagram</a></div>
            </li>
            <li>
                <div class="text-secondary"><a href="#">Facebook</a></div>
            </li>
        </ul>



    </div>
</footer>

</body>

</html>