<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealership Rubious</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>

    <style>
        .topSection {
            /* Ajouter une image de fond avec un flou */
            width: 100vh;
            height: 100vh;
            background-size: fit-content;
            filter: brightness(80%);
            background-image: url("../images/image4.png");
        }
    </style>
</head>

<body>
    <div class="topSection">
        text
    </div>
</body>

</html>