<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealership Rubious</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>

    <style>
        body {
            /* Ajouter une image de fond avec un flou */
            background-size: cover;
            background-image: url("https://collectingcars.imgix.net/022036/DSC-76322.jpg?fit=clip&w=2000&auto=format,compress&cs=srgb&q=85");
        }
    </style>
</head>

<body>

</body>

</html>