<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealership Rubious</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>

    <style>
        .sectionHaut {
            height: 100vh;
            background-size: cover;
            background-image: url("https://collectingcars.imgix.net/022036/DSC-76322.jpg?fit=clip&w=2000&auto=format,compress&cs=srgb&q=85");
            vertical-align: middle;
            align-items: center;
            align-content: center;
        }
        .boiteMilieu {
            height: 10%;
            background-color: #fff;
            width: 80%;
            margin-top: 20%;
            border-radius: 25px;
        }
        .testDiv{
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="sectionHaut">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="boiteMilieu">
                <div class="container">
                    <div class="row" style="margin-top: 1%;">
                        <div class="col-md-3">
                            ONE
                        </div>
                        <div class="col-md-3">
                            TWO
                        </div>
                        <div class="col-md-3">
                            THREE   
                        </div>
                        <div class="col-md-3">
                            FOUR   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testDiv">
        
    </div>
</body>

</html>