<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealership Rubious</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>

    <style>
        body {
            /* Ajouter une image de fond avec un flou */
            background-size: cover;
            filter: brightness(80%);
            background-image: url("../images/image4.png");
        }
    </style>
</head>

<body>
    
</body>

</html>