<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concessionnaire Rubious</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
    <script src="https://js.stripe.com/v3/" async></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>
</head>