<!-- Référence : https://www.youtube.com/watch?v=kmmxxfyufLE -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light p-md-3 navbar-transparent">
    <div class="container">
        <a class="navbar-brand" href="/pages/index">
            <img src="../images/Concessionnaire_Rubious-removebg-preview.png" style="width: 100px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
                <li class="nav-item m-2">
                    <div class="border border-light rounded-pill justify-content-center bg-light shadow-sm"
                        style="width: 7rem">
                        <a href="/pages/contact" class="nav-link text-center">Contact</a>
                    </div>
                </li>
                <li class="nav-item m-2">
                    <div class="border border-light rounded-pill justify-content-center bg-light shadow-sm"
                        style="width: 7rem">
                        <a href="/pages/catalogue" class="nav-link text-center">Catalogue</a>
                    </div>
                </li>
                <li class="nav-item m-2">
                    <div class="border border-light rounded-pill justify-content-center bg-light shadow-sm"
                        style="width: 8rem">
                        <a href="/pages/administrateur" class="nav-link text-center">Administrateur</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown dropstart">
            <button class="btn" type="button" id="dropdownMenuButton" aria-expanded="false"
                style="background: transparent; width: 4rem; border: transparent">
                <img src="/images/icons8-male-user.gif" alt="icone utilisateur" class="w-100 h-100"
                    style="display: flex; border-radius: 100%;">

            </button>
            <ul class="dropdown-menu" id="dropdownMenu" aria-labelledby="dropdownMenuButton">
                <li style="text-align: center;"><span id="userFullName"></span></li>
                <li><a class="dropdown-item" id="btnProfil" href="/pages/profile">Profil</a></li>
                <li class="text-start"> <!-- Ajoute la classe text-start pour aligner à gauche -->
                    <a href="/pages/connexion" class="dropdown-item" id="connexionBtn">Connexion</a>
                </li>
                <li>
                    <button id="deconnexionBtn" class="dropdown-item">Déconnexion</button>
                </li>
            </ul>
        </li>
    </ul>


    </div>
</nav>

<style>
    .dropstart:hover>.dropdown-menu {
        display: block;
        margin-top: 0;
        right: 0;
    }

    nav {
        transition: 0.3s ease;
    }
</style>

<script>
    var nav = document.querySelector('nav');

    window.addEventListener('scroll', function () {
        if (window.pageYOffset > 25) {
            nav.classList.add('bg-body-secondary', 'shadow');
        } else {
            nav.classList.remove('bg-body-secondary', 'shadow');
        }
    });

    function gestionDeconnexion() {
        const userFullName = sessionStorage.getItem('userFullName');
        const btnDeconnexion = document.getElementById('deconnexionBtn');
        const connexionBtn = document.getElementById('connexionBtn');
        const btnProfil = document.getElementById('btnProfil');

        if (userFullName) {
            document.getElementById('userFullName').innerText = userFullName;
            btnDeconnexion.style.display = 'block'; // Activer le bouton de déconnexion
            connexionBtn.style.display = 'none'; // Masquer le bouton de connexion
            btnProfil.style.display = 'block'; // Activer le bouton de profil
        } else {
            document.getElementById('userFullName').innerText = ''; // Effacer le nom d'utilisateur affiché
            btnDeconnexion.style.display = 'none'; // Désactiver le bouton de déconnexion
            connexionBtn.style.display = 'block'; // Afficher le bouton de connexion
            btnProfil.style.display = 'none'; // Désactiver le bouton de profil
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        gestionDeconnexion();

        document.getElementById('deconnexionBtn').addEventListener('click', function () {
            sessionStorage.removeItem('userFullName');
            window.location.href = '/pages/connexion';
        });

        // Sauvegarder le nom du profil dans sessionStorage
        document.getElementById('userFullName').addEventListener('input', function () {
            const newName = document.getElementById('userFullName').innerText;
            sessionStorage.setItem('userFullName', newName);

            location.reload();
        });
    });
</script>