<style>
    #msg {
        resize: none;
        vertical-align: top;
    }

    /*Pour rendre le champ rouge si pas entrer correcctement*/
    input:invalid {
        border: 2px solid red;
    }
</style>




<div class="container mt-5">

</div>