<style>
    #msg {
        resize: none;
        vertical-align: top;
    }

    /*Pour rendre le champ rouge si pas entrer correcctement*/
    input:invalid {
        border: 2px solid red;
    }

    .jumbotron {
        background-color: #E9ECEF;
    }
</style>




<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="d-flex justify-content-around align-items-center">
            <div>
                <h1 class="display-3">Des Questions?</h1>
                <h1 class="display-5">Veuillez nous contacter ici</h1>
            </div>
            <button class="btn btn-secondary">Nous Contacter</button>
        </div>
    </div>
</div>